.loader_bg
{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}
.loader
{
    border: 0px solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader::before, .loader::after
{
    content: '';
    border: 1em solid #ff5733;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader::before
{
    animation-delay: .5s;
}
@keyframes loader {

    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transition: scale(1);
        opacity: 0;
    }
    
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

:root 
{
  --bg-color: #10101a;
  --main-color: DarkGoldenrod;
  --2nd--main-color: #ffffffcc;
  --text-color: #fff;
  --big-font: 5rem;
  --h2-font: 1.2rem;
  --p-font: 1rem;
}
body
{
  background: var(--bg-color);
  color: var(--text-color);
}
header
{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 24px 14%;
  transition: .3s;
}
.logo
{
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 600;
}
span
{
  color: var(--main-color);
}
.navbar
{
  display: flex;
}
.navbar a
{
 color: var(--text-color);
 font-size: 1rem;
 padding: 10px 20px;
 font-weight: 500;
}
.navbar a:hover
{
background: var(--main-color);
transition: .3s;
}
.hamburger
{
  cursor: pointer;
  display: none;
}
.bar
{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: var(--text-color);
}

section
{
  padding: 120px 14% ;
}
.home
{
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
  align-items: center;
}
.home-img img
{
  max-width: 100%;
  width: 500px;
  height: auto;
}
.home-text h5
{
  color: var(--text-color);
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 20px;
}
.home-text h1
{
  font-size: var(--big-font);
  color: var(--text-color);
  font-weight: 700;
  line-height: 1;
  margin: 0 0 20px;
}
.home-text h6
{
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}
.home-text p
{
  max-width: 470px;
  font-size: var(--p-font);
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 1.2rem;
  color: var(--2nd--main-color);
}
.btn
{
  background:var(--main-color);
  color: var(--text-color);
  box-shadow: 4px 4px var(--text-color);
  padding: 0 25px;
  line-height: 42px;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: ease all 0.35s;
}
.btn:hover
{
  background: var(--text-color);
  color: var(--main-color);
  box-shadow: 4px 4px var(--text-color);
}
.about
{
  width: 100%;
  padding: 78px 0px;
  background-color: var(--bg-color);
}
.about-img
{
  height: auto;
  width: 320px;
}
.about-text
{
  width: 580px;
}
.main
{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h1
{
  color: var(--text-color);
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 20px;
 
}
.about-text h2
{
  color: var(--text-color);
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
  
}
.about-text p
{
  color: var(--text-color);
  letter-spacing: 1px;
  line-break: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button
{
  background:var(--main-color);
  color: var(--text-color);
  box-shadow: 4px 4px var(--text-color);
  padding: 0 25px;
  line-height: 42px;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: ease all 0.35s;
  justify-content: space-between;
}
button:hover
{
  background: var(--text-color);
  color: var(--main-color);
  box-shadow: 4px 4px var(--text-color);
}
.center
{
  text-align: center;
}
.center h3
{
  color: var(--text-color);
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 6px;
}
.service-content
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  row-gap: 2rem;
  column-gap: 2rem;
  align-items: center;
  margin-top: 4.4rem;
}
.row
{
  background: #0b0b13;
  padding: 60px 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .40s;
}
.row i
{
  color: var(--main-color);
  font-size: 3rem;
  margin-bottom: 20px;
}
.row h3
{
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--text-color);
}
.row p
{
  font-size: 15px;
  color: var(--2nd--main-color);
  line-height: 30px;
}
.row:hover
{
  transform: translateY(-15px);
  box-shadow: 0px 15px 30px 0px rgb(0 0 0 /70%);
}

.cta
{
  background: #0b0b13;
  width: 100%;
  padding: 150px 0;
  text-align: center;
  margin: 100px auto;
}
.cta h4
{
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 30px;
}
.cta h2
{
  color: var(--main-color);
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 40px;
}
.resume-content
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, auto));
  row-gap: 3rem;
  column-gap: 3rem;
  align-items: center;
  margin-top: 4.4rem;
}
.box
{
  background-color: #0b0b13;
  padding: 40px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: .40s;
}
.box h6
{
  color: #3e4455;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.box h4
{
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 13px;
}
.box p
{
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 1.2rem;
  line-height: 1.8rem;
  color: var(--2nd--main-color);
}
.box h5
{
  font-size: 14px;
  font-weight: 500;
  color: var(--2nd--main-color);
}
.box:hover
{
  transform: translateY(-15px);
  box-shadow: 0px 15px 30px 0px rgb(0 0 0 /70%);
}
.contact-form
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.2rem;
}
.contact-form form
{
  position: relative;
  width: 550px;
}
form input, 
form textarea
{
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  background: #0b0b13;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  border-radius: 5px;
}
form input::placeholder, 
form textarea::placeholder
{
  color: var(--2nd--main-color);
}
textarea
{
  resize: none;
  height: 200px;
}
form .send-btn
{ background:var(--main-color);
  color: var(--text-color);
  box-shadow: 4px 4px var(--text-color);
  padding: 0 25px;
  line-height: 42px;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: ease all 0.35s;
  cursor: pointer;
}
form .send-btn:hover
{
  background: var(--text-color);
  color: var(--main-color);
  box-shadow: 4px 4px var(--text-color);
}
.copyright
{
  text-align: center;
  padding: 30px;
  color: var(--2nd--main-color);
  background: #0b0b13;
  margin-top: 3rem;
  line-height: 1.8rem;
}






@media (max-width: 1430px){
  header{
    padding: 30px 3%;
  }
  section{
    padding: 50px 3%;
  }
  :root{
    --big-font: 3rem;
    --h2-font: 1rem;
  }
 .about-text{
  color: var(--text-color);
  letter-spacing: 1px;
  line-break: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  margin-left: 20px;
 }
}
@media (max-width: 1020px){
  :root{
    --big-font: 3rem;
    --h2-font: 1rem;
    --p-font: 0.9rem;
  }
  .home{
    height: 70vh;
  }
}
@media (max-width: 830px){
  header{
    padding: 18px 3%;
  }
  .hamburger{
    display: block;
  }
  .navbar{
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #0b0b13;
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 /70%);
    text-align: left;
    transition: 0.2s ease;
  }
  .navbar a{
    display: block;
    padding: 1rem;
    border-left: 2px solid var(--main-color);
    margin: 1rem;
    display: block;
  }
  .navbar .active{
    top: 100%;
  }
}
@media (max-width: 768px){
  .home{
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    text-align: center;
    margin-top: 80px;
    height: 100vh;
  }
  .home-text p{
    max-width: 100%;
  }
  .home-img img{
   max-width: 100%;
   width: 390px;
   height: auto;
  }
  .about
  {
      flex-direction: column;
  }
  .about h2
  {
      text-align: center;
  }
  .about img
  {
    width: 320px;
    height: auto;
    padding: 0px 15px;
  }
  .about-text p
{
  display: flex;
  color: var(--text-color);
  letter-spacing: 1.0px;
  line-break: 28px;
  font-size: 10px;
  margin-bottom: 45px;
}
  .btn
  {
    background:var(--main-color);
    color: var(--text-color);
    box-shadow: 4px 4px var(--text-color);
    padding: 0 15px;
    line-height: 35px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: ease all 0.35s;
    justify-content: space-between;
  }
  .btn:hover
  {
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 4px 4px var(--text-color);
  }
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background: var(--bg-color);
    transition: .3s;
    width: 100%;
    text-align: center;
  }
  .navbar a{
    margin: 16px 0;
  }
  .navbar.active{
    left: 0;
  }
}





































 













































